{
  "editor.cursorBlinking": "expand",
  "window.zoomLevel": 1,
  "editor.tabSize": 2,
  "prettier.semi": true,
  "prettier.singleQuote": true,
  "prettier.tabWidth": 2,
  "prettier.useTabs": false,
  "prettier.trailingComma": "all",
  "prettier.printWidth": 100,
  "editor.rulers": [ 100 ],
  "[html]": {
      "editor.defaultFormatter": "esbenp.prettier-vscode"
}
